@import '../../common/mixin.styl';
      .subnav
            .wrapper
                  width 100vw
                  white-space nowrap
                  overflow: hidden
                  .content
                        display: inline-block
                        .box1
                              display: inline-block
                              img
                                    wh(50px,50px)
                  .content
                        display: inline-block
                        .box1
                              display: inline-block
                              img
                                    wh(50px,50px)
                        